-#.row
  -#.large-12.columns.cloud{ :"data-path" => all_products_path }

.row
  .large-12.columns
    = column_chart latest_city_average_products_path , :library => { :title => t("average_price_per_county") }, :height => "250px"
.row
  .large-6.columns
    .row
      .large-12.columns
        %h3 Πάντα
    .row
      .large-6.columns
        .box
          .content
            .highlight= number_to_currency(latest_most_expensive_city.last, precision: 2)
            .note= latest_most_expensive_city.first
          .description Ακριβότερη πόλη
      .large-6.columns
        .box#cheap
          .content
            .highlight= number_to_currency(latest_cheapest_city.last, precision: 2)
            .note= latest_cheapest_city.first
          .description=t("cheapest_city")
  .large-6.columns
    .row
      .large-12.columns
        %h3 Αυτό το μήνα
    .row
      .large-6.columns
        .box#pricier
          .content
            .highlight= number_to_currency(most_expensive_city.last, precision: 2)
            .note= most_expensive_city.first
          .description Ακριβότερη πόλη
      .large-6.columns
        .box#cheapest
          .content
            .highlight= number_to_currency(cheapest_city.last, precision: 2)
            .note= cheapest_city.first
          .description=t("cheapest_city")

.row
  .large-12.columns
    = column_chart min_and_max_products_path, stacked: true, :height => '500px', :library =>  {:colors => [ "#dc3912", "#39B54D"], :title => "ακριβότερα και φθηνότερα προιόντα στην αγορά" }
    %br
.row
  .large-6.columns
    .box
      .content
        .highlight= number_to_currency(latest_most_expensive_store.last, precision: 2)
      .description= latest_most_expensive_store.first
  .large-6.columns
    .box
      .content
        .highlight= number_to_currency(most_expensive_store.last, precision: 2)
      .description= most_expensive_store.first
.row
  .large-6.columns
    .box#cheap
      .content
        .highlight= number_to_currency(latest_cheapest_store.last, precision: 2)
      .description= latest_cheapest_store.first
  .large-6.columns
    .box#cheap
      .content
        .highlight= number_to_currency(cheapest_store.last, precision: 2)
      .description= cheapest_store.first
