<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @product.store.name %>
</p>

<p>
  <strong>name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Date:</strong>
  <%= @product.date %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @product.unit %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
